<%= form_with(model: @project, local: true) do |form| %>
  <%= render "devise/shared/error_messages", resource: @project %>
  
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Project.statuses.keys.map { |s| [s.humanize, s] } %>
  </div>

  <div>
    <%= form.submit "Create Project" %>
  </div>
<% end %>
